
input{
    margin-bottom: 5px;
    width: 13rem;
    line-height: 1.7rem;
    border-radius: 5px;
    border: 1px solid rgb(231, 224, 231);
}
.form-control button{
    background-color: rgb(152, 126, 177);
    font: inherit;
    cursor: pointer;
    padding: 1rem 1rem;
    border: 1px solid #40005d;
    color: white;
    border-radius: 12px;
    margin-top: 10px;
    margin-right: 1rem;
}

.form-control button:hover{
    background-color: #615168;
}
.form-btn{
    display: flex;
}